@media screen and (max-width: 976px) {
    // Contact Top
    #contact-top {
      height: 3rem;
    }
  
    // Navbar
    .navbar {
      height: 7rem;
    }
  
    #main-nav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .logo {
        a {
          color: $light-color;
          font-size: 1.7rem;
        }
  
        &:hover {
          transform: scale(1) !important;
        }
      }
      ul {
        display: flex;
  
        a {
          &:hover:before {
            transition: transform 0.5s;
            transform-origin: top left;
            transform: scale(0) !important;
          }
  
          &:hover:after {
            transition: transform 0.5s;
            transform-origin: bottom right;
            transform: scale(0);
          }
  
          &:hover {
            transition: all 0.5s;
            color: $light-color !important;
          }
  
          &.current {
            background: $medium-color;
            border-radius: 10px;
  
            &:hover {
              color: $light-color;
            }
  
            &:hover:before {
              transition: transform 0.5s;
              transform-origin: top left;
              transform: scale(0);
            }
          }
        }
      }
    }
  
    // Why Side Content
    .why-side-content {
      .btn {
        width: 80%;
      }
    }
  
    // Process
    #process {
      height: 100%;
  
      .process {
        grid-template-columns: repeat(2, 1fr);
  
        .inner-box {
          padding: 0 4rem;
        }
      }
    }
  
    // Services
    #services {
      padding: 0;
      margin-bottom: 4rem;
  
      .services-grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
      }
    }
  
    // Contact
    #contact {
      h4 {
        padding: 0 6.6rem !important;
      }
    }
  
    // About
    #about {
      .about-grid {
        grid-template-columns: none;
        grid-template-areas:
          "content content"
          "pic pic";
        grid-gap: 0;
      }
  
      .about-info {
        grid-area: content;
      }
  
      .my-pic {
        grid-area: pic;
        transform: scale(0.8);
      }
    }
  
    // Footer
    #main-footer {
      height: 8rem;
  
      .footer-content {
        justify-content: center;
        padding: 1.3rem 1rem;
  
        .social {
          margin-right: 0;
          width: 40%;
  
          & .fab {
            margin-right: 1.4rem;
          }
        }
  
        .legal p {
          width: 60%;
        }
      }
  
      .terms {
        margin-top: 0.3rem;
      }
    }
  }
  
  // Smartphones
  @media screen and (max-width: 600px) {
    // Contact top
    #contact-top {
      height: 4.5rem;
  
      .contact-container {
        padding: 0.5rem 0 0 0;
        flex-direction: column;
        height: 100%;
      }
  
      .phone-number {
        margin-top: 0.7rem;
      }
    }
  
    // Navbar
    .navbar {
      height: 6rem;
  
      .container {
        padding: 0;
      }
    }
  
    #main-nav {
      flex-direction: column;
      align-items: center !important;
      padding: 0.6rem 0 !important;
  
      .logo {
        a {
          color: $light-color;
          font-size: 1.3rem !important;
        }
  
        &:hover {
          transform: scale(1) !important;
        }
      }
      ul {
        display: flex;
  
        a {
          padding: 0.8rem 0.8rem !important;
          font-size: 0.9rem !important;
  
          &:hover:before {
            transition: transform 0.5s;
            transform-origin: top left;
            transform: scale(0) !important;
          }
  
          &:hover:after {
            transition: transform 0.5s;
            transform-origin: bottom right;
            transform: scale(0);
          }
  
          &:hover {
            transition: all 0.5s;
            color: $light-color !important;
          }
  
          &.current {
            background: $medium-color;
            border-radius: 10px;
  
            &:hover {
              color: $light-color;
            }
  
            &:hover:before {
              transition: transform 0.5s;
              transform-origin: top left;
              transform: scale(0);
            }
          }
        }
      }
    }
  
    // Home: Hero
    #home-hero {
      height: 80vh;
  
      .hero-content {
        h1 {
          font-size: 3rem !important;
          line-height: 2.6rem !important;
          width: 80% !important;
        }
  
        h3 {
          font-size: 1rem;
          line-height: 1.2rem;
          width: 80% !important;
        }
      }
    }
  
    // Home: Describe {
    #home-describe {
      .describe-grid {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: none !important;
      }
  
      // Home: What Content
      .what-content {
        grid-column: 1;
        padding: 1rem 1rem !important;
      }
  
      // Home: Web Design
      .home-web-design {
        grid-column: 1;
        padding: 1rem 1rem;
        margin: 1rem 0;
  
        h2 {
          margin: 2rem 0;
        }
  
        p {
          margin-top: 1rem;
        }
      }
  
      // Home: What Side Content
      .what-side-content {
        grid-column: 1;
        margin-top: 1rem;
      }
  
      // Home: Why Content
      .why-content {
        grid-column: 1;
        padding: 1rem 1rem;
        margin: 1rem 0;
      }
  
      // Home: Why Side Content
      .why-side-content {
        grid-column: 1;
      }
    }
  
    // Process
    #process {
      .btn-describe {
        display: none;
      }
  
      .btn-describe-mobile {
        visibility: visible;
      }
  
      .process {
        grid-template-columns: repeat(1, 1fr) !important;
  
        &-icon {
          &:hover {
            border-radius: 5px;
            z-index: 3;
            transform: scale(3) translateY(20px);
            color: $dark-color;
            height: 80px !important;
            width: 100px !important;
            border: 2px $primary-color solid;
  
            #effect-1 {
              visibility: visible;
              transform: translateY(-6.2rem) !important;
            }
            #effect-2 {
              visibility: visible;
              transform: translateY(-6.5rem) !important;
            }
            #effect-3 {
              visibility: visible;
              transform: translateY(-6.2rem) !important;
            }
            #effect-4 {
              visibility: visible;
              transform: translateY(-6.2rem) !important;
            }
            .close-mobile {
              opacity: 1;
              transition-delay: 1ms;
              transform: translateY(-0.9rem);
            }
          }
        }
      }
    }
  
    // Main CTA
    #cta {
      padding: 1rem 1rem;
      height: 19rem;
    }
  
    // Services
    #services {
      padding: 0;
  
      .services-grid {
        padding: 2rem 0;
      }
  
      .btn {
        width: 80%;
      }
    }
  
    // Contact Us
    #contact {
      padding: 0;
  
      .contact-us {
        padding: 2rem 1.5rem;
  
        .contact-form {
          margin: 0;
          width: 100%;
        }
  
        h4 {
          padding: 0 !important;
        }
      }
    }
  
    // My Info
    #my-info {
      height: 30rem;
  
      .my-info-content {
        grid-template-columns: repeat(1, 1fr);
  
        .info {
          margin-top: 2rem;
          border-bottom: dotted 1px $dark-color;
  
          &:last-child {
            border: none;
          }
  
          p {
            margin-bottom: 1rem;
          }
        }
      }
    }
  
    // About
    #about {
      padding: 2rem 0;
  
      h1 {
        text-align: center;
      }
  
      .about-grid {
        grid-template-columns: repeat(1, 1fr);
      }
  
      .about-info {
        margin: 1rem 0 !important;
      }
    }
  
    // Footer
    #main-footer {
      height: 14rem;
  
      .footer-content {
        justify-content: center;
        padding: 1.3rem 1rem;
  
        .social {
          margin-right: 0;
          width: 40%;
  
          & .fab {
            margin-top: 1rem;
          }
        }
  
        .legal p {
          width: 60%;
          line-height: 1.6rem;
        }
  
        .terms {
          display: flex;
          flex-direction: column;
        }
      }
  
      .terms {
        margin-top: 0.3rem;
      }
    }
  
    #privacy-policy {
      line-height: 1.6rem;
      padding: 1rem 0;
    }
  
    #terms_and_conditions {
      line-height: 1.6rem;
      padding: 1rem 0;
    }
  }
  
  // Small Phones
  @media screen and (max-width: 380px) {
    #main-nav {
      ul a {
        font-size: 0.8rem !important;
        padding: 0.6rem 0.6rem !important;
      }
    }
  
    #home-hero {
      .hero-content {
        h1 {
          font-size: 2rem !important;
          line-height: 1.8rem !important;
        }
      }
    }
  
    #home-describe {
      .what-content {
        padding: 1rem 0 !important;
      }
  
      .home-web-design {
        padding: 1rem 0;
  
        ul {
          padding: 1rem;
        }
      }
  
      .why-content {
        padding: 1rem 0;
      }
  
      .why-side-content {
        .container {
          padding: 0;
        }
      }
    }
  
    #process {
      .container {
        padding: 0 1rem;
      }
  
      .process {
        grid-template-columns: repeat(1, 1fr) !important;
  
        &-icon {
          &:hover {
            height: 100px !important;
            width: 90px !important;
  
            #effect-1 {
              visibility: visible;
              transform: translateY(-6rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
            #effect-2 {
              visibility: visible;
              transform: translateY(-6.1rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
            #effect-3 {
              visibility: visible;
              transform: translateY(-5.9rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
            #effect-4 {
              visibility: visible;
              transform: translateY(-5.6rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
          }
        }
      }
    }
  
    #cta {
      height: 24rem;
    }
  
    // Services
    #services {
      h3 {
        padding: 0;
      }
    }
  }
  
  // Tiny Screens
  @media screen and (max-width: 320px) {
    #main-nav ul a {
      padding: 0.7rem 0.4rem !important;
    }
  
    #home-hero {
      height: 100vh !important;
      .btn {
        width: 80%;
      }
    }
  
    .what-side-content .container {
      padding: 0 1rem;
    }
  
    #process {
      .container {
        padding: 0 1rem;
      }
  
      .process {
        grid-template-columns: repeat(1, 1fr) !important;
  
        &-icon {
          &:hover {
            height: 102px !important;
            width: 80px !important;
  
            #effect-1 {
              visibility: visible;
              transform: translateY(-6rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
            #effect-2 {
              visibility: visible;
              transform: translateY(-6.6rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
            #effect-3 {
              visibility: visible;
              transform: translateY(-6.35rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
            #effect-4 {
              visibility: visible;
              transform: translateY(-6.1rem) !important;
              transition-delay: 320ms;
              text-align: left;
            }
          }
        }
      }
    }
  
    // Footer
    #main-footer {
      .legal p {
        line-height: 1.2rem !important;
      }
    }
  }
  
  // Landscape
  @media screen and (max-height: 550px) {
    // Home: Hero
    #home-hero {
      height: 200vh;
    }
  
    .navbar {
      a {
        &:hover:before {
          transition: transform 0.5s;
          transform-origin: top left;
          transform: scale(0) !important;
        }
  
        &:hover:after {
          transition: transform 0.5s;
          transform-origin: bottom right;
          transform: scale(0);
        }
  
        &:hover {
          transition: all 0.5s;
          color: $light-color !important;
        }
  
        &.current {
          background: $medium-color;
          border-radius: 10px;
  
          &:hover {
            color: $light-color;
          }
  
          &:hover:before {
            transition: transform 0.5s;
            transform-origin: top left;
            transform: scale(0);
          }
        }
      }
    }
  
    //Process
    #process {
      .btn-describe {
        display: none;
      }
  
      .btn-describe-mobile {
        visibility: visible;
      }
  
      .process {
        grid-template-columns: repeat(2, 1fr) !important;
  
        &-icon {
          &:hover {
            border-radius: 5px;
            z-index: 3;
            transform: scale(3) translateY(20px);
            color: $dark-color;
            height: 80px !important;
            width: 100px !important;
            border: 2px $primary-color solid;
  
            #effect-1 {
              visibility: visible;
              transform: translateY(-6.3rem) !important;
            }
            #effect-2 {
              visibility: visible;
              transform: translateY(-6.55rem) !important;
            }
            #effect-3 {
              visibility: visible;
              transform: translateY(-6.3rem) !important;
            }
            #effect-4 {
              visibility: visible;
              transform: translateY(-6.3rem) !important;
            }
            .close-mobile {
              opacity: 1;
              transition-delay: 1ms;
              transform: translateY(-0.9rem);
            }
          }
        }
      }
    }
  }
  
  // Tiny Landscape
  @media screen and (max-height: 320px) {
    // Home: Hero
    #home-hero {
      height: 200vh;
  
      h1 {
        font-size: 2.4rem !important;
        line-height: 2.2rem !important;
      }
  
      .btn {
        margin-bottom: 2rem;
      }
    }
  
    #home-describe {
      .describe-grid {
        grid-template-columns: repeat(1, 1fr) !important;
      }
  
      .what-content {
        grid-column: 1;
      }
      .what-side-content {
        grid-column: 1;
      }
      .home-web-design {
        grid-column: 1;
      }
      .why-content {
        grid-column: 1;
      }
      .why-side-content {
        grid-column: 1;
      }
    }
  
    #home-describe .container {
      padding: 0 !important;
  
      .what-side-content {
        margin: 0 1rem;
  
        h2 {
          padding-left: 1rem;
          padding-right: 1rem;
        }
  
        p {
          padding-left: 1rem;
          padding-right: 1rem;
        }
  
        .side-form {
          padding-left: 1rem !important;
          padding-right: 1rem !important;
        }
      }
  
      .why-side-content {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }
    }
  
    .navbar {
      a {
        &:hover:before {
          transition: transform 0.5s;
          transform-origin: top left;
          transform: scale(0) !important;
        }
  
        &:hover:after {
          transition: transform 0.5s;
          transform-origin: bottom right;
          transform: scale(0);
        }
  
        &:hover {
          transition: all 0.5s;
          color: $light-color !important;
        }
  
        &.current {
          background: $medium-color;
          border-radius: 10px;
  
          &:hover {
            color: $light-color;
          }
  
          &:hover:before {
            transition: transform 0.5s;
            transform-origin: top left;
            transform: scale(0);
          }
        }
      }
    }
  
    //Process
    #process {
      .btn-describe {
        display: none;
      }
  
      .btn-describe-mobile {
        visibility: visible;
      }
  
      .process {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 0.2rem !important;
  
        &-icon {
          &:hover {
            border-radius: 5px;
            z-index: 3;
            transform: scale(3) translateY(20px);
            color: $dark-color;
            height: 88px !important;
            width: 94px !important;
            border: 2px $primary-color solid;
  
            #effect-1 {
              visibility: visible;
              transform: translateY(-6.3rem) !important;
            }
            #effect-2 {
              visibility: visible;
              transform: translateY(-6.55rem) !important;
            }
            #effect-3 {
              visibility: visible;
              transform: translateY(-6.3rem) !important;
            }
            #effect-4 {
              visibility: visible;
              transform: translateY(-6.3rem) !important;
            }
            .close-mobile {
              opacity: 1;
              transition-delay: 1ms;
              transform: translateY(-0.9rem);
            }
          }
        }
      }
    }
  }
  