@import "config";
@import "utilites";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}

body {
    font-family: $primary-font;
    color: $dark-color;
    
}

h3 {
    font-size: 1.4rem;
    width: 90%;
}

p {
    line-height: 1.3rem;
}



// Navbar

#mobile-nav {
    background: $medium-complimentary;
    padding: .4rem 0;
    z-index: 4;
    position: sticky;
    top: 0;

    .flex-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    z-index: 3;

    p {
        color: $light-color;
        font-size: 1.6rem;
    }

    
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 4;
}

.menu-btn__burger {
    width: 30px;
    height: 3px;
    background: $light-color;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: $light-color;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}

// Animation
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 3;
    background-color: $medium-complimentary;
    transition: all .5s ease-in-out;

    ul {
        list-style: none;
    }
    

    a {
        text-decoration: none;
        display: block;
        margin: 0 auto 1.4rem;
        text-align: center;
        padding: .8rem 1rem;
        color: $light-color;
        font-size: 1.3rem;
    }

    &.open {
        left: 0;
    }
}

// Contact top

#contact-top {
    background-color: $medium-complimentary;
    color: $light-color;
    text-align: center;

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-contact {
        ul {
            display: flex;
            gap: 2rem;
            padding: .4rem 0 .3rem 0;
            justify-content: center;
            align-items: center;
            text-align: center;

            .fab {
                border-radius: 100px;
                border: 2px solid $light-color;
                padding: .3rem;
            }
        }
    }

    .direct-contact {
        display: flex;
        gap: 1rem;
        padding: .4rem 0 .6rem 0;
        justify-content: center;
        align-items: center;
    }

    a {
        color: $light-color;
    }
}

// Home:hero
#home {
    &-hero {
        background: url("../img/header-home.jpg") no-repeat center center/cover;
        position: relative;
        color: $light-color;
        padding: 5rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba($color: #333, $alpha: 0.85);
            height: 100%;
            width: 100%;
            z-index: 0;
        }
        
        .hero-content {
            h1 {
                line-height: 2.5rem;
                font-weight: 500;
                font-size: 2rem;
            }

            h2 {
                font-size: 1.1rem;
                font-weight: 400;
                padding: 3rem 0;
                line-height: 1.4rem;
            }
        }
    }

    &-hero > * {
        z-index: 2;
        position: relative;
    }

    // Home:Describe
    &-describe {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto, 1fr);
        }

        // Base section styles
        .what-content,
        .home-web-design,
        .why-content,
        #process-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;

            h3 {
                padding: 1rem 0;
                text-align: center;
                width: 90%;

                .small-text-logo {
                    font-size: .9rem;
                    font-weight: 800;
                }
            }

            p {
                padding: 1rem 0;
            }

            ol {
                padding: 1rem;
            }

            li {
                padding: .5rem 0;
            }
        }

        // What side
        .what-side-content {
            padding: 2rem 0 3rem 0;

            .flex-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
            
            h3 {
                padding: 1rem 0;
                text-align: center;
            }

            ul {
                list-style: disc;
                padding: 1rem;
                line-height: 1.6rem;
            }

            .form-field {
                padding: .5rem 0;
            }

            label {
                line-height: 2rem;

                &:after {
                    content: " *";
                    color: red;
                }
            }
            
            input {
                width: 100%;
                padding: .3rem .3rem;
                border: 3px #fff solid;
                border-radius: 3px;
                font-size: 1rem;
                font-family: $primary-font;

                &:focus {
                    outline: none;
                    border-color: $primary-color;
                }
            }

            .btn-form {
                display: inline-block;
                text-decoration: none;
                padding: 1rem 1.5rem;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 10px;
                font-size: 1.2rem;
                text-align: center;
                font-weight: 600;
            }

            #project-description {
                width: 100%;
                height: auto;
                border: 3px #fff solid;
                border-radius: 3px;
                font-size: 1rem;
                resize: none;
                padding: .3rem .3rem;
                line-height: 1.2rem;
                font-family: $primary-font;

                &:focus {
                    outline: none;
                    border-color: $primary-color;
                }
            }

            .g-recaptcha {
                padding-top: 1rem;
            }

            #g-recaptcha-response {
                display: block !important;
                position: absolute;
                margin: -50px 0 0 0 !important;
                z-index: -999999;
                opacity: 0;
            }

            .reassure {
                font-size: .75rem;
                text-align: center;
                padding: 1rem 0;
            }

            button {
                width: 100%;
            }
        }

        // Home: web design
        // Home: why content
        .home-web-design,
        .why-content {
            ul {
                padding: 1rem;
                list-style: disc;

                li {
                    padding: .5rem 0;
                }
            }
        }

        .why-content {
            background: $light-color;
        }

        // Home: Why Side Content
        .why-side-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $light-complimentary;
            padding: 2rem 0 3rem 0;
            color: set-text-color($primary-color);

            h3 {
            padding: 1rem 0;
            text-align: center;
            }

            ul {
            list-style: disc;
            padding: 1rem;
            line-height: 1.6rem;

                li {
                    padding: 0.5rem 0;
                }
            }
        }

        // .process-icons {
        //     padding: 2rem 0;
        //     text-align: center;

        //     .process-icon {
        //         border-radius: 50%;
        //         background: $primary-color;
        //         border: 3px solid $dark-complimentary;
        //         height: 90px;
        //         width: 90px;
        //         line-height: 90px;
        //         position: relative;
        //     }

        //     .process-step {
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //     }
        // }

        
// Process
        #process {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        
            h2 {
            padding-bottom: 2rem;
            }
        
            .effect-text {
                p {
                line-height: .42rem;
                font-size: .33rem;
                text-align: center;
                padding: .1rem 0;
                }
            }
        
            .lead {
            padding-top: 2rem;
            }
        
            .btn-describe {
            display: none;
            }
        
            .btn-describe-mobile {
            font-size: 1.2rem;
            }
        
            .process {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
        
                .close-mobile {
                    color: $primary-color;
                }
            
                #effect-1 {
                    padding: 0 0.5rem;
                    margin: 0;
                    color: $light-color;
                    visibility: hidden;
                    text-align: center;
                    transition: all ease-in;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                }
                #effect-2 {
                    padding: 0 0.5rem;
                    margin: 0;
                    color: $light-color;
                    visibility: hidden;
                    text-align: center;
                    transition: all ease-in;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                }
                #effect-3 {
                    padding: 0 0.5rem;
                    margin: 0;
                    color: $light-color;
                    visibility: hidden;
                    text-align: center;
                    transition: all ease-in;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                }
                #effect-4 {
                    padding: 0 0.5rem;
                    margin: 0;
                    color: $light-color;
                    visibility: hidden;
                    text-align: center;
                    transition: all ease-in;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                }
            
                .outer-box {
                    position: relative;
                    height: 15rem;
                    width: 100%;
                }
            
                .inner-box {
                    position: absolute;
                    top: 45%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
            
                    h3 {
                    font-weight: 500;
                    padding-top: 2rem;
                    }
                }
            
                // Process-step
                &-step {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 1.5rem;
                    background: $primary-color;
                    color: $light-color;
                    border-radius: 50%;
                    height: 2rem;
                    width: 2rem;
                    line-height: 2rem;
                    transition-duration: 300ms;
                }
            
                // Process-icon
                &-icon {
                    border-radius: 50%;
                    border: 3px $primary-color solid;
                    background: $dark-color;
                    color: $light-color;
                    height: 90px;
                    width: 90px;
                    line-height: 90px;
                    text-align: center;
                    position: relative;
                    transition: all 350ms ease;
                    transition-duration: 350ms;
            
                    // Hover Effects
                    &:active,
                    &:focus, 
                    &:hover {
                    border-radius: 5px;
                    z-index: 3;
                    transform: scale(3) translateY(20px);
                    color: $dark-color;
                    height: 80px;
                    width: 100px;
                    border: 2px $primary-color solid;;
            
                        .process-step {
                            transform: scale(0);
                        }
                
                        #effect-1 {
                            visibility: visible;
                            transform: translateY(-175%);
                            transition-delay: 320ms;
                            text-align: left;
                        }
                        #effect-2 {
                            visibility: visible;
                            transform: translateY(-175%);
                            transition-delay: 320ms;
                            text-align: left;
                        }
                        #effect-3 {
                            visibility: visible;
                            transform: translateY(-5.9rem);
                            transition-delay: 320ms;
                            text-align: left;
                        }
                        #effect-4 {
                            visibility: visible;
                            transform: translateY(-5.6rem);
                            transition-delay: 320ms;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }  
}

