@import "config";
@import "utilites";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}

body {
    font-family: $primary-font;
}


// Navbar

#mobile-nav {
    background: $medium-complimentary;
    padding: .4rem 0;
    z-index: 4;
    position: sticky;
    top: 0;

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    z-index: 3;

    p {
        color: $light-color;
    }

    
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 4;
}

.menu-btn__burger {
    width: 30px;
    height: 3px;
    background: $light-color;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: $light-color;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}

// Animation
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 3;
    background-color: $medium-complimentary;
    transition: all .5s ease-in-out;

    ul {
        list-style: none;
    }
    

    a {
        text-decoration: none;
        display: block;
        margin: 0 auto 1.4rem;
        text-align: center;
        padding: .8rem 1rem;
        color: $light-color;
        font-size: 1.3rem;
    }

    &.open {
        left: 0;
    }
}

// Contact top

#contact-top {
    background-color: $medium-complimentary;
    color: $light-color;
    text-align: center;

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-contact {
        ul {
            display: flex;
            gap: 2rem;
            padding: .4rem 0 .3rem 0;
            justify-content: center;
            align-items: center;
            text-align: center;

            .fab {
                border-radius: 100px;
                border: 2px solid $light-color;
                padding: .3rem;
            }
        }
    }

    .direct-contact {
        display: flex;
        gap: 1rem;
        padding: .4rem 0 .6rem 0;
        justify-content: center;
        align-items: center;
    }

    a {
        color: $light-color;
    }
}

// Home:hero
#home {
    &-hero {
        background: url("../img/header-home.jpg") no-repeat center center/cover;
        position: relative;
        color: $light-color;
        padding: 5rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba($color: #333, $alpha: 0.85);
            height: 100%;
            width: 100%;
            z-index: 0;
        }

        .container {
            width: 80%;
        }

        .hero-content {
            h1 {
                line-height: 2.5rem;
                font-weight: 500;
                font-size: 2rem;
            }

            h2 {
                font-size: 1.1rem;
                font-weight: 400;
                padding: 3rem 0;
                line-height: 1.3rem;
            }
        }
    }

    &-hero > * {
        z-index: 2;
        position: relative;
    }
}